/*
    darkblue
    #092C38

    lightblue
    #5D8C9B

    cyan
    #2CFEF1

    Blue
    #2AB8E8

    Pink
    #E9168C

    Green
    #C1D540
*/


/* ----
    GRAPH
*/
body {
    background: #092C38;
}
#graph {
    height: 600px;
    padding: 0px 10px;
    max-width: 1240px;
    margin: 20px auto 0;
}
@media screen and (max-height: 480px) {
    #graph {
        height: 320px;
    }
}

/* UI */
.graph-title .energy-selector {

}
.graph-title {
    margin: 0;
    color: #49C8FF;
}
.graph-title .energy-selector {
    color: #2CFEF1;
    opacity: 0.5;
}
.graph-title .active {
    opacity: 1;
}
.graph-title {
    text-align: center;
    margin: 25px 0 15px;
    font-size: 2.5em;
}
.graph-title .energy-selector {
    display: inline-block;
}
.graph-title .energy-selector img {
    vertical-align: top;
}

/*
    Key
*/
.graph-key .line {
    display: block;
}
.graph-key {
    font-size: 1.2em;
    color: #5D8C9B;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 20px;
    margin: 20px 10px;
}
.graph-key__item {
    letter-spacing: normal;
}
.graph-key em {
    text-transform: uppercase;
    font-style: normal;
}