/* ----
    GRAPH
*/
body {
    background: #092C38;
    height: 25000px;
}
abbr {
    text-decoration: none;
    border: none !important;
}
#data-view {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* Table rows */
td {
    position: relative;
}
#title td {
    padding: 20px;
    height: 20px;
    padding-bottom: 0;
}
#graph td {
  padding: 20px 5% 40px;
  height: 100%;
  max-height: 100%;
}
.intro-phase #graph,
.summary-phase #graph * {
    pointer-events: none;
}
#stories td {
    padding-top: 0;
    padding: 20px;
    height: 250px;
}
.intro-phase #stories,
.summary-phase #stories {
    display: none !important;
}
.detail-phase #graph td {
    padding-bottom: 15px;
}
@media screen and (max-width: 1140px) {
    #title td { }
    #graph td {
      padding: 20px;
    }
    #stories td {
        height: 280px;
    }
}
@media screen and (max-width: 680px) {
    #title td {
        padding: 5px;
    }
    #graph td {
        padding: 10px;
    }
    #stories td {
        height: 150px;
    }
}
