/*
    darkblue
    #092C38

    lightblue
    #5D8C9B

    cyan
    #2CFEF1

    Blue
    #2AB8E8

    Pink
    #E9168C

    Green
    #C1D540
*/


/* ----
    GRAPH
*/
body {
    background: #092C38;
}
#graph {
    height: 600px;
    padding: 0px 10px;
    max-width: 1240px;
    margin: 20px auto 0;
}
@media screen and (max-height: 480px) {
    #graph {
        height: 320px;
    }
}

/* UI */
.graph-title .energy-selector {

}
.graph-title {
    margin: 0;
    color: #49C8FF;
}
.graph-title span {
    color: #2CFEF1;
    opacity: 0.5;
}
.graph-title .active {
    opacity: 1;
}