svg:not(:root) {
    overflow: visible;
}

#graph .td {
  background: rgb(9, 44, 56);
}

/* ----
    GRIDS
*/
#grids svg {
    overflow: hidden !important;
}
#grids line {
    stroke: #2A3C41;
    stroke-width: 1;
}

/* ----
    AXES
*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke: none;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #448498;
}


/* ----
    PLOTS
*/
.line .linePath {
    stroke-width: 2;
    fill: none;
}

.gas { color: #E9168C; }

.gas .average_small circle { fill: #B55AFF; }
.gas .average_small rect { fill: #B55AFF; }
.gas .average_small .annotation { fill: #B55AFF; }
.gas .average_small .linePath { stroke: #B55AFF; }

.gas .average_large circle { fill: #E9168C; }
.gas .average_large rect { fill: #E9168C; }
.gas .average_large .annotation { fill: #E9168C; }
.gas .average_large .linePath { stroke: #E9168C; }

.electricity { color: #C1D540; }

.electricity .average_small circle { fill: #00FA87; }
.electricity .average_small rect { fill: #00FA87; }
.electricity .average_small .annotation { fill: #00FA87; }
.electricity .average_small .linePath { stroke: #00FA87; }

.electricity .average_large circle { fill: #C1D540; }
.electricity .average_large rect { fill: #C1D540; }
.electricity .average_large .annotation { fill: #C1D540; }
.electricity .average_large .linePath { stroke: #C1D540; }


svg .scatter {
    opacity: 0.5;
}

.baddata {
    visibility: hidden !important;
}
.highlighted {
    border: 2px solid red !important;
}

.event-bar {
    /*stroke-width: 2.5%;*/
    opacity: 0.2;
    cursor: pointer;
}
.event-bar.conflict { stroke: #D94141; }
.event-bar.nature { stroke: #5FC86E; }
.event-bar.politics { stroke: #8F3CFC; }
.event-bar.finance { stroke: #0088E6; }
.event-bar.output { stroke: #8C7667; }

.linePath.highlighted {
    opacity: 0.75;
}

.label text {
    fill: black;
    font-size: 14px;
}

.currentDate {
    fill: white;
    font-weight: bold;
    font-size: 20px;
}

.loading #currentAnnotation * {
    visibility: hidden;
}
#currentAnnotation * {
    visibility: visible;
}

.currentTick {
    stroke: #49C8FF;
    stroke-width: 2;
    stroke-dasharray: 2,2;
    opacity: 0.5;
}

.stories *,
.axes *,
.grids * {
  shape-rendering: crispEdges;
}

@media screen and (max-width: 680px) {
    .axis text {
        font-size: 10px;
        fill: #B0B0B0;
    }
    circle {
          transform: scale(0.5);
          transform-origin: center;
          opacity: 0.5;
    }
}
