svg:not(:root) {
    overflow: visible;
}

/*
    darkblue
    #092C38

    lightblue
    #5D8C9B

    cyan
    #2CFEF1

    Blue
    #2AB8E8

    Pink
    #E9168C

    Green
    #C1D540
*/

/* ----
    GRIDS
*/
#grids svg {
    overflow: hidden !important;
}
#grids line {
    stroke: #0A313D;
    stroke-width: 1;
}

/* ----
    AXES
*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke: none;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #13576D;
}


/* ----
    PLOTS
*/
.line line {
    stroke-width: 2;
    fill: none;
}

.gas { color: #E9168C; }

.gas .average_small circle { fill: #B55AFF; }
.gas .average_small rect { fill: #B55AFF; }
.gas .average_small .annotation { fill: #B55AFF; }
.gas .average_small line { stroke: #B55AFF; }

.gas .average_large circle { fill: #E9168C; }
.gas .average_large rect { fill: #E9168C; }
.gas .average_large .annotation { fill: #E9168C; }
.gas .average_large line { stroke: #E9168C; }

.electricity { color: #C1D540; }

.electricity .average_small circle { fill: #00FA87; }
.electricity .average_small rect { fill: #00FA87; }
.electricity .average_small .annotation { fill: #00FA87; }
.electricity .average_small line { stroke: #00FA87; }

.electricity .average_large circle { fill: #C1D540; }
.electricity .average_large rect { fill: #C1D540; }
.electricity .average_large .annotation { fill: #C1D540; }
.electricity .average_large line { stroke: #C1D540; }


svg .scatter {
    opacity: 0.5;
}
@media screen and (max-width: 700px) {
    .axis text {
        font-size: 10px;
        fill: #B0B0B0;
    }
}

.baddata {
    visibility: hidden !important;
}
.highlighted {
    border: 2px solid red !important;
}

.event-bar line {
    stroke-width: 2.5%;
    opacity: 0.2;
}
.event-bar.conflict line { stroke: #D94141; }
.event-bar.nature line { stroke: #5FC86E; }
.event-bar.politics line { stroke: #8F3CFC; }
.event-bar.finance line { stroke: #0088E6; }
.event-bar.output line { stroke: #8C7667; }

line.highlighted {
    opacity: 1;
}

.label text {
    fill: black;
    font-size: 14px;
}
.label rect {
    width: 51px;
    height: 19px;
    border-radius: 3px;
}

.currentDate {
    fill: white;
    font-weight: bold;
    font-size: 20px;
}