svg:not(:root) {
    overflow: visible;
}

/*
    darkblue
    #092C38

    lightblue
    #5D8C9B

    cyan
    #2CFEF1

    Blue
    #2AB8E8

    Pink
    #E9168C

    Green
    #C1D540
*/

/* ----
    GRIDS
*/
#grids svg {
    overflow: hidden !important;
}
#grids line {
    stroke: #0A313D;
    stroke-width: 1;
}

/* ----
    AXES
*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke: none;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #13576D;
}


/* ----
    PLOTS
*/
.line line {
    stroke-width: 2;
    fill: none;
}
.average_small circle {
    fill: #E9168C;
}
.average_small line {
    stroke: #E9168C;
}

.average_large circle {
    fill: #C1D540;
}
.average_large line {
    stroke: #C1D540;
}

@media screen and (max-width: 700px) {
    svg .scatter {
        opacity: 0.5;
    }
    .axis text {
        font-size: 10px;
        fill: #B0B0B0;
    }
}