/* UI */
.graph-title {
    margin: 0;
    color: #49C8FF;
    line-height: 0.95em;
    text-align: center;
    font-size: 1.75em;
    transition: 0.2s all ease;
}
.graph-title .energy-selector img {
    opacity: 0.2;
    margin-right: 3px;
    width: 21px;
}
.graph-title .active {
    opacity: 1;
}
.graph-title .energy-selector {
    display: inline-block;
}
.graph-super-title {
    font-size: 2.75em;
}

/*
    Key
*/
.graph-key .line {
    display: block;
}
.graph-key {
    color: #5D8C9B;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 20px;
    margin: 10px 10px;
}
.graph-key__item {
    letter-spacing: normal;
}
.graph-key em {
    text-transform: uppercase;
    font-style: normal;
}
.small-title {
    opacity: 0 !important;
}

@media screen and (max-width: 680px) {
    #title td {
        padding: 15px 15px 0;
        height: 15px;
    }
}
