.story-list__info {
    display: none;
}
.detail-phase .story-list__info {
    display: block;
}

/* -- */

.story-list {
    list-style: none;
    white-space: nowrap;
    padding: 0 0 20px;
    /*padding-left: 20%;*/
    /*position: absolute;*/
    transition: 0.3s all ease;
  left: 33%;
  position: absolute;
}
.story-list li:before {
    content: "";
    border-top: 3px solid #2AB8E8;
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
}

.story-list li {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    white-space: normal !important;
    vertical-align: top;
    padding: 0 2%;
    position: relative;
}

.story-list__article {
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 50;
  padding-top: 25px;
}

.story-list__article * {
    color: white;
}

.story-list__timestamp {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    opacity: 0.5;
}

.story-list__icon {
    width: 50px;
    height: 50px;
}

[date-list-iteration-item] {
    opacity: 0.3;
}
.highlighted {
    border: none !important;
    opacity: 1;
}
.highlighted .story-list__icon {
    height: auto;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
@keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 1;}
}

@media screen and (min-width: 681px) {
    .story-list {
        opacity: 0;
    }
    .historic.story-list {
        opacity: 1;
    }
}

@media screen and (max-width: 680px) {
    #stories {
      border-top: 1px solid rgba(255, 255, 255, 0.14);
      padding-top: 10px;
    }
    .story-list {
        left: 0;
    }
    .story-list li {
        width: 100%;
        padding:0 10px 0 15px;
    }
    .story-list li:before {
        display: none;
    }
    .story-list__article {
        text-align: left;
        overflow: visible;
        padding-top: 0;
    }
    .story-list__icon {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }
    .story-list__headline {
      margin-top: 2px;
      margin-bottom: 5px;
      margin-left: 60px;
    }
    .story-list__timestamp {
        position: relative;
        top: 0px;
    }
    .story-list__description {
          margin-left: 60px;
    }
}

.extlink {
    width: 18px;
    vertical-align: top;
}
.story-list__headline a:hover {
    color: #49C8FF;
}
