#instructions {
    width: 100%;
    transition: 0.5 all ease;
    z-index: 999;
    background: radial-gradient(at center, rgba(9, 44, 56,1), rgba(9, 44, 56,1), rgba(9, 44, 56,0));
}

/* ------ */

#instructions {
    top: 15%;
    left: 0;
    text-align: center;
    color: white;
    position: absolute !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

#instructions p {
    margin: 10px 0;
    background: none;
    line-height: 1.2em;
    font-size: 1.25em;
}

#instructions a {
    color: white;
    text-decoration: underline !important;
}

.scrollimg {
    display: block;
    width: 50px;
    margin: 0 auto;
}

#instructions .inner {
    width: 50%;
    text-align: left;
    font-size: 18px;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.instructions-minor {
    opacity: 0.3;
    font-size: 75% !important;
    line-height: 1.15em;
    margin-top: 15px !important;
}

/* -- */

@media screen and (max-width: 850px) {
    #instructions .inner {
        width: 90%;
    }
}
@media screen and (max-width: 680px) {
    #instructions {
        top: 0% !important;
        background: #092C38;
        padding: 15px 8px;
        position: fixed;
        height: 100%;
        width: 100%;
    }
    #instructions .graph-title {
        font-size: 30px;
    }
    #instructions img {
        display: none;
    }
    #instructions p {
        font-size: 16px;
    }
    .instructions-minor {
        display: none;
    }
}
