#navguide,
#instructions {
    width: 100%;
    transition: 0.5 all ease;
    z-index: 999;
    background: radial-gradient(at center, rgba(9, 44, 56,1), rgba(9, 44, 56,1), rgba(9, 44, 56,0));
}

/* ------- */

#navguide {
    position: fixed;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    display: none;
}

#navguide.visible {
    display: block;
}

/* ------ */

#instructions {
    top: 15%;
    left: 0;
    text-align: center;
    color: white;
    position: absolute !important;
}

#instructions p {
    margin: 10px 0;
    background: none;
    line-height: 1.2em;
    font-size: 1.25em;
}

#instructions a {
    color: white;
    text-decoration: underline !important;
}

.scrollimg {
    display: block;
    width: 50px;
    margin: 0 auto;
}

#instructions .inner {
    width: 50%;
    text-align: left;
    font-size: 18px;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.instructions-minor {
    opacity: 0.3;
    font-size: 75% !important;
    line-height: 1.15em;
    margin-top: 15px !important;
}

/* -- */

@media screen and (min-width: 680px) {
    .has-scrolled #instructions {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    #instructions .inner {
        padding: 0 20px;
        width: 90%;
    }
}
@media screen and (max-width: 680px) {
    #instructions {
        top: 0% !important;
        background: #092C38;
    }
    #instructions {
        background: rgba(9, 44, 56,0.9);
    }
    #instructions .inner {
        padding: 10px;
        font-size: 16px;
        line-height: 1.1em;
    }
}

@media screen and (max-height: 650px) {
    #instructions {
        top: 0% !important;
        background: #092C38;
    }
}
