#instructions {
    display: none !important;
}
body.intro-phase {
    height: 100% !important;
    max-height: 100% !important;
}
.intro-phase #instructions {
    display: block !important;
}
.intro-phase .pointer-element,
.intro-phase .pointer-element *,
.intro-phase .energy * {
    visibility: hidden !important;
}
.detail-phase .small-title,
.summary-phase .small-title {
    opacity: 1 !important;
}
@media screen and (max-width: 680px) {
    html .graph-title {
            opacity: 1 !important;
    }
}
