.has-not-scrolled .pointer-element,
.has-not-scrolled .pointer-element *,
.has-not-scrolled .energy * {
    visibility: hidden !important;
}
.has-scrolled .pointer-element,
.has-scrolled .pointer-element *,
.has-scrolled .energy * {
    visibility: visible;
}
.has-scrolled .graph-title {
    opacity: 1 !important;
}
