#instructions {
    display: none !important;
}
.intro-phase #instructions {
    display: block !important;
}
.has-not-scrolled .pointer-element,
.has-not-scrolled .pointer-element *,
.has-not-scrolled .energy * {
    visibility: hidden !important;
}
.has-scrolled .pointer-element,
.has-scrolled .pointer-element *,
.has-scrolled .energy * {
    visibility: visible;
}
.has-scrolled .graph-title {
    opacity: 1 !important;
}
@media screen and (max-width: 680px) {
    .graph-title {
            opacity: 1 !important;
    }
}
